body {
    background: #FFFFB3;
}

.push {
    display: inline-block;
    border: 1px solid #FFBF00;
    padding: 1.5em 4em;
    font-family: 'Libre Baskerville', serif;
    /* font-size: 1em; */
    text-decoration: none;
    margin-right: 2em;
    background: transparent;
    color: black;
    line-height: 1.5;
    width: 18em;
    border-radius: 3em;text-align: center;
    cursor: pointer;
    background: #FFBF00;
    font-weight: 900;
    
}

.button {
    line-height: 0.7;
    width: 6rem;

}



.first-row:hover {
    background: #72A0C1;
    color: white;
}

.hovered {
    background: #72A0C1;
    color: white;
}
.one {
    background: #84DE02;
    
}
.button.push.first-row:hover {
    background: #84DE02;
}

.fas {
    size: 7em;
    color: white;
    margin-right: 1em;
}