body {
    padding: 5em;
    background-color: azure;
}

ul {
    list-style-type: square;
}
ul ul {
    list-style-type: disc;
}
ul ul ul{
    list-style-type: circle;
}
table {
    width: 100%;
}

table, table th, table td{
    border: 1px solid rgb(159,199,199);
    border-collapse: collapse;
}
table th {
    background: rgb(159,199,199)
}
table tbody tr:nth-child(odd) td {
    background: rgb(186,232,232);
}
blockquote {
    font-style: italic;
}
.autor {
    text-align: right;
}