@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
html {
	font: 16px/1.5 Helvetica, sans-serif;
}

body {
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
	font: 1em/1.2;
	
}

h1 { font-size: 2.2rem; }
h2 { font-size: 2.0rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.2rem; }

.article {
	/* font-size: 1.5em; */
}

